* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Bannar Style */
.banner {
    background-image: url('../images/donation1.jpg');
    /* position: absolute; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.banner-content {
    margin: 174px 550px;
    /* position: relative; */
    text-align: center;
}

.banner-title {
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    background: #FF5959;
    border: none;
    padding: 10px 35px;
}

main {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 20px;
}

.section-description {
    font-size: 18px;
    color: #707070;
    margin-bottom: 50px;
   
}

.our-donate-plan{
    text-align: center;
}

.donate-today {
    margin-top: 130px;
    text-align: center;

}

.donate-today .section-description{
    padding: 0 335px;
}


.donate-value {
    display: flex;
    justify-content: center;
    gap: 45px;
    text-align: center;
    align-items: center;
}

.tk {
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    padding: 20px 20px;
    background: #FAFAFA;
}

.active {
    color: tomato;
    border: 3px solid tomato;
    padding: 20px 20px;
    background-color: #FFEEEE;
    border-radius: 5px;
}

.donate-today h6 {
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
    color: #B3B3B3;
}
.donate-today hr {
    width: 765px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.our-donate-plan{
    margin-top: 130px;
}

.our-donate-plan .section-description{
padding: 0 335px;
}

.donate-container{
display: flex;
gap: 47px;
}

.donate-category{
    background: rgba(79, 157, 166, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    width: 360px;
}
.category-title{
    font-size: 24px;
    font-weight: 600;
    color: #121212;
    margin-bottom: 16px;
}

.live-depend {
    display: flex;
    margin-top: 139px;
    gap: 83px;
}

.live-depend .section-title {
    margin-top: 60px;
}

.live-depend-left {
    width: 493px;
    height: 374px;
}

.live-depend-description {
    font-size: 18px;
    margin-bottom: 25px;
}

.live-depend img {
    width: 465px;
    height: 477px;
}

.get-update {
    text-align: center;
    margin-top: 200px;
}

.get-update .section-description {
    width: 690px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.get-update .email {
    width: 800px;
    margin: 0 auto;
    padding: 80px 190px;
}

.get-update .email {
    width: 800px;
    margin: 0 auto;
    padding: 80px 190px;
    background: #FFF4D6;
}

input[type="email"] {
    height: 60px;
    width: 432px;
}

.get-update>button{
    margin-left: -10px;
}

.footer{
    text-align: center;
    background: #0B0D17;
}

.footer .info {
    padding: 43px 0;
}
.footer .text-one{
    font-size: 36px;
    color: #FF5959;
    margin-bottom: 20px
}
.footer .text-two{
    color: #D9DBE1;
    font-size: 14px;
}